<html>
	<head>
		<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/jpdik/DirShared/master/templates/estilo.css" />
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<title>Dir Shared ({{ nome }})</title>
	</head>
<body>
	<h1>Dir Shared ({{ nome }})</h1>

	<!--<form action={{ nome }}/upload method=post enctype=multipart/form-data>-->
      	
    <input id ="uploadFiles" type=file multiple name=file>
    <input id="upload" type=submit value=Upload>
    <p id="info"></p>
    <!--</form>-->

	<form method="post" action={{ nome }}/download>
		<br /><br />
		<ul id="arquivos">
		{% for i in arquivos %}
		  	<li><a href="{{ nome }}/{{ i['path'].split('/')[-1] }}">{{ i['path'].split('/')[-1] }}</a></li>
		{% endfor %}
		</ul>
		<br /><br />
	</form>

	<p id="info2"></p>
    <input id="apagarTudo" type=submit value="Apagar tudo">
    
    <script src="https://raw.githubusercontent.com/jpdik/DirShared/master/templates/jquery-3.1.1.min.js"></script>
    <script src="https://raw.githubusercontent.com/jpdik/DirShared/master/templates/script.js"></script>
</body>
</html>