<html>
	<head>
		<title>Erro</title>
	</head>
<body>
	<h1>Dir Shared ({{ nome }})</h1>

	<h2>Erro: {{ erro }} </h1>

	<form onsubmit="return voltar()">
		<button type="submit">Voltar</button>
	</form>
	<script type="text/javascript">
		document.getElementById('campo').innerHTML = window.location.href;
		function voltar() {
			var valores = window.location.href.split('/');
			var caminho = valores[0] + "//" + valores[2] + "/" + valores[3];
			window.location.href = caminho;
			return false;
		}
	</script>
</body>
</html>