<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}" />
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>DirShared - Erro</title>
</head>
<body class="blue">
	<main>
		<div class="row">
			<div class="row">
				<section class="col s8 offset-s1 white-text">
					<h1 id='titulo'><a href="/" id="link">Dir Shared</a> ({{ nome }})</h1>
				</section>
			</div>
			
			<div class="col s8 offset-s2">
				<div class="card horizontal">
					<div class="card-stacked">
						<div class="card-content">
							<div class="row valign-wrapper">
								<h2>Erro: {{ erro }} </h2>
							</div>
						</div>
						<div class="card-action">
							<form onsubmit="return voltar()">
								<button class="btn btn-default green" type="submit">Voltar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<script type="text/javascript">
			document.getElementById('campo').innerHTML = window.location.href;
			function voltar() {
				window.location.href = window.location.href.substring(0, window.location.href.lastIndexOf('/'));
				return false;
			}
		</script>
	</main>
</body>
<footer class="page-footer blue">
	<div class="footer-copyright green">
		<div class="container">
			© 2017 Copyright 
			<a class="white-text right" href="https://www.facebook.com/jpdik">João Paulo de Melo</a>
		</div>
	</div>
</footer>
<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"> </script>
</html>