#titulo, h1 a{
	text-decoration: none;
	color: black;
	font-family: "Times New Roman", Times, serif;
}

#titulo a:hover, h1 a:hover{
	text-decoration: underline;
	color: black;
}

#arquivos {
width:500px; /* uma largura para o arquivos */ 
/* uma borda em volta do arquivos */ 
}

div#arquivos{
	margin:2em;
}

footer {
	position:absolute;
	bottom: 2%;
	padding-left: 80%;
}

footer a{
	text-decoration: none;
}

button.list-group-item:hover {
    background-color: #cacaca;
    color: black;
}

button.list-group-item span{
    color: black;
    float: right;
    visibility:hidden;
}

button.list-group-item:hover span{
    color: black;
    visibility:visible;
}

input{
	margin: 2em 0 0 2em;
	padding: 0.3em 1em 0.3em 1em;
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc; 
    border:1px solid #000000;
}

input:hover{ 
	background: #e8e8e8;
}