.mt-6 {
	margin-top: 10%;
}

#root>main {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.text-center {
	text-align: center
}

.div-center {
	margin: 0 auto;
}

.icon {
	padding: 0.5em 1em !important;
}

.right {
	position: absolute !important;
	right: 1em;
	top: 0;
	bottom: 0;
}

.action {
	display: block !important;
}

.Toastify__toast-container {
	margin-top: 5em;
}

@media only screen and (max-width: 600px) {
	.logo {
		width: 250px;
	}
}

@media (min-width: 601px) and (max-width: 991px) {
	.logo {
		width: 250px;
	}
}

.custom-file-label {
	z-index: 0 !important;
}