.mt-6 {
    margin-top: 10%;
}

#root > .App {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.text-center {
    text-align: center
}

.div-center {
    margin: 0 auto;
}

.icon {
	padding: 0.5em 1em !important;
}

.right {
	position: absolute;
	right: 1em;
	top: 0;
	bottom: 0;
}

.action{
	display: block !important;
}

.Toastify__toast-container {
	margin-top: 5em;
}